<div id="nav" class="row p-3 align-items-center sticky-top">
    
    <a href="group" class="col-1 text-center">Create Group</a>
    <a href="joinGroup" class="col-1 text-center">Join a Group</a>

    <h1 class="col-8 text-center display-2 name">Housemates</h1>

    <a href="signup" class="col-1 text-center">Create Account</a>
    <a href="login" class="col-1 text-center">Login</a>


</div>