<div id="nav" class="row p-3 align-items-center">
    <a href="#" class="col-1 text-center">Create Account</a>
    <a href="group" class="col-1 text-center">Create Group</a>
    
    <!-- will delete this one later just to show we have it-->
    <a href="addMember" class="col-1 text-center">Add Members</a>

    <h1 id="name" class="col-8 text-center display-2">Housemates</h1>
    <a href="#" class="col-2 text-center">Login</a>


</div>