<html>

    <header> 
        <title>Database Testing</title> 

    </header>

    <form action="dbTest" method="POST">

        <label for="username">Test Username</label>
        <input id="testUser" name="username" placeholder="Enter Username"/>

        <label for="password">Test Password</label>
        <input id="testPass" name="password" placeholder="Enter Password"/>

        <button type="submit" class="btn btn-primary btn-block">Login</button>

    </form>
</html>