<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head', {titleTag: ""}) %> 
    </head>

    <body>
        <%- include('../partials/navbar')  %> 
        <div class="container">
            <!-- I'm going to center this later -->
            <blockquote class="blockquote text-center">
                <h3>Who's cooking dinner? Who's taking out the garbage?</h3>
                <h2>Stay organized as a household with Housemates</h2>
            </blockquote>
        </div>
    </body>
</html>