<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head', {titleTag: ""}) %> 
    </head>

    <body>
        <div class="container">
            <div class="">
            <h2>Who's cooking dinner? Who's taking out the garbage?</h2>
            <h4>Stay organized as a household with Housemates</h4>
            </div>
        </div>
    </body>
</html>