<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head', {titleTag: " - Add a Member"}) %> 
    </head>

    <body>
        <%- include('../partials/navbar')  %> 
        <div class="container2">
            <!-- I'm going to center this later -->
            <blockquote class="blockquote text-center">
                <h1>Join a Group</h2>

                <form action="/AddtoGroup">
                    <label for="uName">Username:</label><br>
                    <input type="text" id="uName" name="uName" value="John"><br><br>

                    <label for="Password">Password:</label><br>
                    <input type="text" id="Password" name="Password" value="Password"><br><br>

                    <label for="gName">Group Name:</label><br>
                    <input type="text" id="gName" name="gName" value="Housemates"><br><br>

                    <input type="submit" value="Add">
                  </form> 
            </blockquote>
        </div>
    </body>
</html>