<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head', {titleTag: " - Login"}) %> 
    </head>

    <body>
        <%- include('../partials/navbar')  %> 
        <div class="container2">
            <blockquote class="blockquote text-center">
                <h1>Login to Account</h2>
                <form action="loginAction" method="POST">

                    <label for="username">Username</label>
                    <input id="user" name="username" placeholder="Enter Username"/>
                    <br>
                    <label for="password">Password</label>
                    <input type="password" id="pass" name="password" placeholder="Enter Password"/>
                    <br>
                    <input type="submit" value="Login">
            
                </form>
                <%= message %>

            </blockquote>
        </div>
    </body>
</html>