<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head', {titleTag: " - Signup"}) %> 
    </head>

    <body>
        <%- include('../partials/navbar')  %> 
        <div class="container2">
            <blockquote class="blockquote text-center">
                <h1>Create an Account</h2>
                <form action="signUpUser" method="POST">

                    <label for="username">Username</label>
                    <input id="user" name="username" placeholder="Enter Username"/>
                    <br>
                    <label for="password">Password</label>
                    <input id="pass" type="password" name="password" placeholder="Enter Password"/>
                    <br>
                    <input type="submit" value="Sign Up">
            
                </form>
                <%= message %>


            </blockquote>
        </div>
    </body>
</html>