<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head', {titleTag: " - Signup"}) %> 
    </head>

    <body>
        <%- include('../partials/navbar')  %> 
        <div class="container">
            <blockquote class="blockquote text-center">
                <h1>Create an Account</h2>
                <form action="signup" method="POST">

                    <label for="username">Username</label>
                    <input id="user" name="username" placeholder="Enter Username"/>
                    <br>
                    <label for="password">Password</label>
                    <input id="pass" name="password" placeholder="Enter Password"/>
                    <br>
                    <label for="leader">Will you be group leader?</label>
                    <br>
                    Yes<input name="leader" type="radio" value="1">
                    <br>
                    No<input name="leader" type="radio" value="0">
                    <br>
                    <input type="submit" value="Sign Up">
            
                </form>

            </blockquote>
        </div>
    </body>
</html>